select {
    min-width: 30px !important;
}

.helper-icon {
    position: absolute;
    width: 28px;
    height: 28px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

    background-image: url("assets/wernicke_logo_big.png");
    background-color: #005fcc;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.helper-menu {
    position: absolute;
    background: #fefefe;
    border: 1px solid #aaa;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    z-index: 9999;
}

.helper-menu button {
    display: block;
    width: 100%;
    margin: 4px 0;
    background: #0084ff;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
}

.helper-menu button:hover {
    background: #005fcc;
}
